[Unit]
Description=Docker Network monitor
After=docker.service
Requires=docker.service

[Service]
Restart=always
User=networkmonitor
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=-/usr/bin/docker pull ghcr.io/pkoehlers/network-monitor-headless:master
ExecStart=/usr/bin/docker run --rm --name %n -e LOG_DIR='./log' -e CONFIG_FILE='./configfile/config.json' --mount type=bind,source=/home/networkmonitor/log,target=/usr/src/app/log --mount type=bind,source=/home/networkmonitor/config,target=/usr/src/app/configfile ghcr.io/pkoehlers/network-monitor-headless:master

[Install]
WantedBy=multi-user.target